/********** Base styles **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  title{
    font-size: 175%;
  }
  body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
  }
  h2{
    font-size: 125%;
  }
  
  h1 {
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
  }
  section {
    border: 1px solid black;
    margin-right: 0px;
    padding: 0px;
    position: relative;
  }
  div {
    padding: 10px;
  }
  .header2 {
    text-align: center;
    padding-left: 10px;
    padding-right:10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    float: right;
    margin:0px 0px 20px 0px;
  
  }
  .paragraph{
    clear: both;
    padding:10px;
    margin: 0px;
    font-style: italic;
  }
  #section1 {
    background-color:green;
    margin-bottom: 15px;
  
  }
  #section2 {
    background-color:indigo;
    margin-bottom: 15px;
  
  }
  #section3 {
    background-color:dimgray;
    margin-bottom: 15px;
  
  }
  #head1 {
    background-color: hotpink;
  }
  #head2 {
    background-color: aliceblue;
  }
  #head3 {
    background-color: #ABEBC6;
  }
  
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      width: 33.33%;
      float: left;
    }
  }
  /********** Medium devices only **********/
  @media (min-width: 767px) and (max-width: 991px) {
    .col-md-6 ,.col-md-12 {
     float: left;
   }
   .col-md-6 {
     width: 50%;
   }
   .col-md-12 {
     width: 100%;
   }
 }

  /********** Mobile devices only **********/
  @media (max-width: 767px) {
    .col-xs-12{
        float: left;
        width: 100%;
    }
  }
  